{% extends "destinations/base_generic.html" %}
{% block title %}Create Profile{% endblock %}
 
{% block content %}
<div class = "content"><div class = "top-content">
<h1>Create Your Profile</h1>

<form method="POST" action="{{ app.path }}">{% csrf_token %}
<h2>{{ user }}</h2>
        {% for field in form %} {% if field.label_tag != "Posts" %}
            {{ field.label_tag }}: {{ field }}{% endif %}
<br />
<br />
        {% endfor %}
<input type="submit" value="Update" id="submit" class="submit" name="submit" />

</form>
 </div></div>
{% endblock content %}

