{% extends "destinations/base_generic.html" %}
{% block content %}
<div class = "content"><div class = "top-content">
<h1>Profile</h1>
<h2>Username: {{ profile.user }}</h2>
{% if profile.avatar %}
 <img src="{{ MEDIA_URL }}{{ profile.avatar }}" />
{% endif %}
<br />
{% if profile.hometown %}
Hometown: {{ profile.hometown }}
{% endif %}
<br />
Name: {% if profile.first_name %}{{ profile.first_name }}{% endif %}{% if profile.last_name %} {{ profile.last_name }}{% endif %}
<br />
<br />
<h3>Bio:</h3>
<p>
{{ profile.bio }}
</p>
<ul>
	<li>
<h4><a href="/profile/edit"><div class="content-link">Edit Profile</div></a></h4></li><li>
<h4><a href="/destinations/form_home"><div class="content-link">Add or Review a Place</div></a></h4></li>
</ul>
</div></div>
{% endblock %}
