{% extends "base_generic.html" %}

{% block content %}
<div style="width:70%; padding:10px; float:left; min-height:200px; height:auto;">
{% block main_content %}Main Content Area
{% endblock main_content %}
</div>
<div style="padding:10px border:4px solid #026873; min-height:150px;" >
{% block gallery %}<h2>Gallery Area</h2>
{% endblock gallery %}
</div>
<div style="width:45%; padding:10px border:4px solid black">
{% block popularplaces %}Popular Places Area
{% endblock popularplaces %}
</div>
<div style="width:45%; padding:10px border:4px solid brown">
{% block interesttags %}Interest Tags Area
{% endblock interesttags %}
</div>
{% endblock %}
