{% extends "base_places.html" %}

{% block title %}{{ destination.name }}{% endblock %}
{% block main_content %}
<h1>{{ name }}</h1>
<h2>Reviews</h2>
<ul>
{% if review_list %}
{% for review in review_list %}
<h3>{{ review.review_headline }}</h3>
<p>{{ review.review_content }}</p>
{% endfor %}
{% else %}
No reviews listed.
{% endif %}
{% endblock %}
{% block popularplaces %}
<h3>

</h3>
{% endblock %}
{# similar places block #}
{#{% block gallery %}<h2>GALLERY</h2>{{ city.gallery }}{% endblock %}#}
{% block interesttags %}
<h2>INTEREST TAGS</h2>
{% if destination.interest_set.all %}
{% for interest in destination_interest_set.all %}
{{ interest.name }}
{% endfor %}
{% else %}
    Coming Soon{# Have one to add? #}
{% endif %}
{% endblock %}
