{% extends "base_generic.html" %}
{% block content %}
<h1>Welcome to TravelMIT!</h1>
<p>Our goal is to provide a safe, reliable network for members of the MIT community to share their travel experiences. This site is a work in progress, but everyone that uses it helps us build it more!</p>
{% if user.is_authenticated %}
<h3><a href="http://marcelar.scripts.mit.edu/travelmit/destinations/form_home/">Add information, pictures, or a review of your favorite destinations!</a></h3>
{% endif %}
{% if not user.is_authenticated %}
<p>Want to share your favorite destinations or stories with the MIT community, and discover even more places to go? <h3><a href="http://marcelar.scripts.mit.edu/travelmit/accounts/register">Register! It's easy!</a></h3></p>
{% endif %}
<h2>Featured Destinations</h2>
<ul>
{% for destination in latest_destination_list %}
<li><a href="http://marcelar.scripts.mit.edu/travelmit/destinations/{{ destination.id }}/">{{ destination.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
