{% extends "registration/login_side.html" %}
{% load i18n %}
{% block content %}
<div class = "content">
<div class = "top-content">
{% if form.errors %}<p>Your username and password didn't match. Please try again
.</p>{% endif %}

<h2>Login</h2>
<form action="{{ app.path }}" method="post" id="login-form">{% csrf_token %}
<label for="id_username">{% trans 'Username' %}</label>
<input type="text" name="username" id="id_username" />
<br />
<label for="id_password">{% trans 'Password:' %}</label>
<input type="password" name="password" id="id_password" />
<input type="hidden" name="this_is_the_login_form" value="1" />
<br />

<input type="submit" value="{% trans 'Log in' %}" />
</form>

<script type="text/javascript">
document.getElementByID('id_username').focus()
</script>
<p>Don't have an account yet? <a href = "/accounts/register">Register here!</a></p>
</div>
</div>
{% endblock %}

