{% extends "base_generic.html" %}
{% block title %}
Far Sighted Travel | About
{% endblock %}

{% block content %}
<article class="top-content">
	<header><h2>About Us</h2></header>
	<content>
	<p>Our goal is to provide a safe, reliable network for members of the MIT community to share their travel experiences. This site is a work in progress; if you would like to help us build it more, share your stories, pictures, and reviews of places you've traveled to or live in!</p></content>
</article>
{% endblock %}
