<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
{#    <link rel="stylesheet" href="style.css" /> #}
    <style type="text/css">
    div.logo
    {
    width:220px;
    padding:10px;
    border:5px solid gray;
    margin:0px;
    }
    h1,h2,h3,p
    {
    color:blue
    }
    </style>
    {% block title %}<title>Travel MIT</title>{% endblock %}
</head>

<body>
<table width=100% border="0">
<tr valign="top" style="background-color:#EEEEEE;height:100px">
{% block topsearch %}

<td colspan="2" style="font-family:apple chancery;font-size:36;width:34%"><h1><a href="/">Travel MIT</a></h1></td>
<td colspan="2" style="width:33%">Search Box</td>
{% endblock %}

<td valign="top" colspan="2" style="width:33%">
{% block navigation %}
<ul>
<li><a href="travelmit/destinations/location_dest">DESTINATION A-Z</a></li>
<li><a href="travelmit/destinations/byinterest">BY INTERESTS</a></li>
<li><a href="travelmit/destinations/gallery">GALLERY</a></li>
<li><a href="travelmit/destinations/profile">PROFILE</a></li>
</ul>
{% endblock navigation %}
</td>
</tr>

<tr valign="top" style="background-color:#EEEEEE;height:200px">
{% block content %}
<td colspan="3" style="width:50%">Title and Facts</td>
<td colspan="3" style="width:50%">Feature Story</td>
{% endblock content %}
</tr>

<tr style="background-color:#EEEEEE;height:100px">
{% block footer %}
<td colspan="3" style=50%"><a href="/about">About</td>
<td style = "20%"><a href="/contact">Contact</td>
{% endblock %}
</tr>
</table>
</body>
</html>
