{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" type="text/css" media="all" />
    <script type="text/javascript" src="{% static "scripts/backbone/backbone-min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/d3/d3.v3.min.js" %}"></script>
    <script type = "text/javascript" src="{% static "scripts/d3/d3.geo.projection.v0.min.js"%}"></script>
    <script type = "text/javascript" src="{% static "scripts/d3/topojson.v1.min.js"%}"></script>
    <script type = "text/javascript" src="{% static "scripts/d3/queue.v3.min.js" %}"></script>

    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
    <header class = "mainHeader">
        <div class ="headerBar"></div>
        <div class="logo"><a href="/"><img src="{% static "images/farsightslogoblue.png" %}" /></a></div>
        <div class = "blockHeader"></div>
        {% block navigation %}
        <nav><ul>
        <li><a href ="/"><em>Far Sighted Travels</em></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/destinations/map">Map</a></li>
        <li><a href="/about">About</a></li>
        <li>{% if user.is_authenticated %}<a href="/profile/{{ user }}">{% else %}<a href="/accounts/register/">{% endif %}Profile</a></li>
        {# <li class = "rightHeader"><a href="../search">Search</a></li>#}
        </ul></nav>
        {% endblock %}

    </header>
<div class="mainContent">
    
    {% block content %}
    {% endblock content %}
    
    {% block top-sidebar %}
    {% endblock top-sidebar %}
</div>
</div>

<footer class = "mainFooter">
{% block footer %}
<nav><ul>
    <li>
<a href="../about">About</a></li>
<li><a href="../contact">Contact</a></li>
{% if not user.is_authenticated %}
<li><a href="../accounts/login">Login</a></li>
<li><a href="../accounts/register">Sign Up</a></li>
    {% endif %}
    {% if user.is_authenticated %}
    <li><a href="../accounts/logout">Logout</a></li>
    {% endif %}
    {% endblock %}
    </footer>

    </body>
</html>
