{% extends "base_places.html" %}

{% block title %}{{ city.city_name }}{% endblock %}
{% block main_content %}
<h1>{{ name }}</h1>
<h3>
Country: <a href="/destinations/countries/{{ parent_country.id }}">{{ parent_country.country_name }}</a></h3>
{# <h2>INTRODUCTION</h2> #}
{{ city.info }}
{% endblock %}
{% block popularplaces %}
<h2>POPULAR DESTINATIONS</h2>
{% if destination_list %}
{% for destination in destination_list %}
    <a href = "/destinations/{{ destination.id }}">{{ destination.name|upper }}</a>
{% endfor %}
{% else %}
   No attractions listed.{# Have one to add? #}
{% endif %}
{% endblock %}
{% block gallery %}
<h2>GALLERY</h2>
{{ city.gallery }}
{% endblock %}
{% block interesttags %}
<h2>INTEREST TAGS</h2>
{% if related_interests %}
{% for interest in related_interests %}
{{ interest.interest_name|upper }}
{% endfor %}
{% else %}
    No related tags.{# Have one to add? #}
{% endif %}
{% endblock %}
