{% extends "base_places.html" %}

{% block title %}{{ destination.name }}{% endblock %}

{% block main_content %}
<article class = "top-content"><content><header><h1>{{ name }}</h1>
	<h2><a href="/destinations/cities/{{ city.id }}">{{ city.city_name }}</a>, <a href="/destinations/countries/{{ city.country.id}}">{{ city.country.country_name }}</a></h2>
<h2>Reviews</h2></header>
<ul>
{% if review_list %}
{% for review in review_list %}
<h3>{{ review.review_headline }}</h3>
<h4>Rating: {{ review.rating }}/10</h4>
<p>{{ review.review_content }}</p>
{% endfor %}
{% else %}
No reviews listed.
{% endif %}
{% endblock %}

{# {% block gallery %}<h3>GALLERY</h3>{{ city.gallery }}{% endblock %} #}

{% block popularplaces %}
{# similar places block #}
</content></article>
{% endblock %}

{% block interesttags %}
<aside class = "top-sidebar"><content><header>
<h3>INTEREST TAGS</h3></header>
{% if destination.interest_set.all %}
{% for interest in destination_interest_set.all %}
{{ interest.name }}
{% endfor %}
{% else %}
    Coming Soon{# Have one to add? #}
{% endif %}
</content></aside>
{% endblock %}
