{% extends "base_generic.html" %}

{% block title %}Add Destination Info!{% endblock %}
{% block content %}
<div class = "content">
<article class = "top-content"><content><header><h2>Destination Additions/Edits</h2></header>
<form method="post" action="/destinations/dest_form_complete/">{% csrf_token %}
<h3>Add a Destination</h3>
  {#  {{ formset.management_form }}#}
    {% for form in formset %}
        {% for field in form %}
            {{ field.label_tag }}: {{ field }}
<br />
<br />
        {% endfor %}
<input type="submit" label="Save">
    {% endfor %}
<h3><a href="/destinations/city_form">Add your Destination's city first if it's not in our database!</a></h3>

</form>
</content></article>
</div>
{% endblock %}
