{% extends "base_places.html" %}

{% block title %}{{ destination.name }}{% endblock %}

{% block main_content %}
<article class = "top-content"><content><header><h1>{{ name }}</h1>
<h2>Reviews</h2></header>
<ul>
{% if review_list %}
{% for review in review_list %}
<h3>{{ review.review_headline }}</h3>
<p>{{ review.review_content }}</p>
{% endfor %}
{% else %}
No reviews listed.
{% endif %}
{% endblock %}

{% block gallery %}<h2>GALLERY</h2>{{ city.gallery }}{% endblock %}

{% block popularplaces %}
{# similar places block #}
</content></article>
{% endblock %}

{% block interesttags %}
<aside class = "top-sidebar"><content><header>
<h2>INTEREST TAGS</h2></header>
{% if destination.interest_set.all %}
{% for interest in destination_interest_set.all %}
{{ interest.name }}
{% endfor %}
{% else %}
    Coming Soon{# Have one to add? #}
{% endif %}
</content></aside>
{% endblock %}
