{% extends "base_generic.html" %}

{% block title %}Add Destination Info!{% endblock %}
{% block content %}
<div class = "content">
<article class = "top-content"><content>
{% if form.errors %}<p>There was an error - make sure you've filled all required fields.
</p>{% endif %}
<header><h1>Destination Additions</h1></header>
<form method="POST" action="{{ app.path }}">

{#http://marcelar.scripts.mit.edu/travelmit/destinations/dest_form_complete/">#}

{% csrf_token %}<h3>Add a Destination</h3>        {% for field in dest_form %}
            {{ field.label_tag }}: {{ field }}
<br />
<br />
        {% endfor %}
<input type="submit" value="Save" class="submit" name="submit" />

</form>
<h3>If we don't have it yet...</h3>
<ul><li>
<h4><a href="/destinations/city_form">Add a City</a></h4></li>
<li><h4><a href="/destinations/country_form">Add a Country</a></h4></li>
</content></article>
</div>
{% endblock %}
