{% extends "base_generic.html" %}
{% block content %}
<h2>Add a...</h2>
<h3><a href="http://marcelar.scripts.mit.edu/travelmit/destinations/dest_form/">Destination</a>
<br /><br />
<a href="http://marcelar.scripts.mit.edu/travelmit/destinations/review_form/">Review of a Destination</a>
<br /><br />
<a href="http://marcelar.scripts.mit.edu/travelmit/destinations/country_form/">Country</a>
<br /><br />
<a href="http://marcelar.scripts.mit.edu/travelmit/destinations/city_form/">City</a></h3>
{% endblock %}
