{% extends "base_generic.html" %}
{% block title %}
Far Sighted Travel | Home
{% endblock %}
{% block content %}
<div class = "content">
<article class = "top-content">
	<header><h2>Welcome to Far Sighted Travel!</h2></header>
	<content>
	<p>Our goal is to provide a safe, reliable network for students to share their travel experiences.</p>
	{% if user.is_authenticated %}
	<h3><a href="/destinations/form_home/">Add information, pictures, or a review of your favorite destinations!</a></h3>
	{% endif %}
	{% if not user.is_authenticated %}
	<p>Want to share your favorite destinations or stories with the MIT community, and discover even more places to go?
	<h3><a href="/accounts/register">Register! It's easy!</a></h3></p>
	<p>Or, <a href="/destinations/map">browse</a> and <a href="/destinations/form_home">post reviews</a> as an anonymous user!</p>
	{% endif %}
	</content>
</article>
<article class="destlist">
    <header><h2>Featured Destinations</h2></header>
    <ul>
    {% for destination in latest_destination_list %}
    <li>
    <a href="/destinations/{{ destination.id }}/">{{ destination.name }}</a></li>
    {% endfor %}
    </ul>
</article></div>
	{% endblock %}
{% block top-sidebar %}
<aside class="top-sidebar">
	{% if not user.is_authenticated %}
        <p><h3><a href="../accounts/register">Sign Up</a></h3></p>
        <p>
        {% block login_side %}
        <h3><a href="../accounts/login">Login</a></h3><br />
        {% endblock %}
        </p>
    {% endif %}
    {% if user.is_authenticated %}
    <p><a href="../accounts/logout">Logout</a></p>
    {% endif %}
</aside>

{% endblock %}