/* Updated version */
@import url("{% static "css/reset.css" %}");
    body
    {
    background-image:"/static/images/subtle-carbon.png";
    background-repeat:repeat;
    background-color:#CCFFFF;
    font-family: Helvetica,Arial,'Lucida Sans Unicode';
    line-height: 1.5;
    text-align:left;
    font-size: 87.5%; /*Base font size 14px*/
    }
    .overlay {
      fill: none;
      pointer-events: all;
    }
    .stroke {
      fill: none;
      stroke: #000;
      stroke-width: 3px;
    }

    .fill {
      fill: #fff;
    }

    .land {
      fill: #222;
    }

    .boundary {
      fill: none;
      stroke: #fff;
      stroke-width: .5px;
    }

    a {
        text-decoration: none;
    }
    a:link, a:visited {
        color:blue;
    }
    a:hover, a:active {
    
    }
    .body {
        margin: 0 auto;
        clear:both;
        overflow:auto;
    }
    h2 {
        font-size:140%;
    }
    div
    {
        float:left;
    }
    #map {
      border:2px solid #000;
      width:80%;
      height:500px;
        background: #fcfcfa;
    }
    .tooltip {
      color: #222; 
      background: #fff; 
      padding: .5em; 
      text-shadow: #f5f5f5 0 1px 0;
      border-radius: 2px; 
      box-shadow: 0px 0px 2px 0px #a6a6a6; 
      opacity: 0.9; 
      
    }
    div.logo {
        position:relative;
        margin:40px 0 0 10%;
        padding: 0 0 -10px 0;
    }

    
    .mainHeader nav
    {
        position:fixed;
        margin:0 0 0 0;
        width:100%;
        padding:0 0 0 0;
        height:30px;
        background-color: #003366;
        """#0099cc#3399FF;"""
    }
    .mainHeader nav ul {
        list-style: none;
        margin: 0 auto;
    }

    .mainHeader nav ul li
    {
        font-size:100%;
        float:left;
        display: inline;
    }
    .mainHeader nav a:link, .mainHeader nav a:visited {
        color:white;
        display: inline-block;
        padding:5px 45px;
        height: 15px;
    }

    .mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav a:active a:link, .mainHeader nav a:active a:visited {
        
        color:white;
        padding:5px 45px;
        height: 15px;
        text-shadow:none;
    }

    .mainHeader nav ul li a {
/*Header link decoration*/
    }
    .headerBar {
        position:absolute;
        background-color: #083D8B;
        margin: 30px 0 0 10%;
        padding:140px 80% 0 0;
        border-bottom: navy solid 2px;
    }

    li.rightHeader {

    }
    
    .mainContent {
        background-color: #000305;
        line-height:25px;
        overflow:hidden;
        margin: 0 10%;
        width:80%;
        padding:3% 0;

    }
    .content {
        overflow:hidden;
        width:70%;
        float: left;

    }

    path:hover {
  fill: red;
}
    .content-full {
        overflow:hidden;
        width:98%;
        float: left; 
    }
     .content .top-content {
        float:left;
        padding:3% 5%;
        margin:10px 0 6% 6%;
        background-color:#FFF;
        min-width:80%;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }

    .content-full .top-content {
        float:left;
        padding:3% 5%;
        margin:10px 6% 6% 6%;
        background-color:#FFF;
        min-width:80%;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }

    .content .destlist {
        float:left;
        width:84%;
        padding:3% 5%;
        margin:0 6% 2% 6%;
        background-color:#FFF;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }

    .content-full .destlist{
        float:left;
        min-width:80%;
        padding:3% 5%;
        margin:0 6% 2% 6%;
        background-color:#FFF;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }

    .top-sidebar {
        width:18%;
        margin:10px 0 2% 4%;
        padding:3% 2%;
        float:left;
        background-color:#FFF;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }

    .mid-sidebar {
        width:18%;
        margin:0 0 2% 2%;
        padding:3% 2%;
        float:left;
        background-color:#FFF;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }


    .post-info {
        font-style:italic;
        color:#999;
        font-size:90%;
    }
    .mainFooter {
        width:100%;
        float:left;
        margin:2% 0 0 0;
        background-color: #666;
    }

    .mainFooter nav
    {
        margin:0;
        padding:0 0 0 0;
        height:80px;

    }
    .mainFooter nav ul {
        list-style: none;
        margin: 0 auto;
        
    }
    .mainFooter nav ul li
    {
        float:left;
        display: inline;
    }
    .mainFooter nav a:link, .mainFooter nav a:visited {
        text-align:center;
        margin:5px 0;
        color:#FFF;
        padding:10px 25px;
        display: inline-block;
        height: 40px;
    }
    .mainFooter nav p {
        text-align:right;
        margin:5px 0;
        color:#FFF;
        padding:10px 25px 0 200px;
        display: inline-block;
        height: 20px;
    }

    .mainFooter nav a:hover, .mainFooter nav a:active, .mainFooter nav a:active a:link, .mainFooter nav a:active a:visited {
        background-color:grey;
        text-shadow:none;
    }
/*
    @media only screen and (min-width: 150px) and (max-width 600px)
    {
    .body {
        width:90%;
        font-size:95%;
    }
    .mainHeader img {
        width:100%;
    }
    .mainHeader nav {
        height:160px;
    }
    .mainHeader nav ul {
        padding-left: 0;
    }
    .mainHeader nav ul li {
        width:100%;
        text-align:center;
    }
    .mainHeader nav a:link, .mainHeader nav a:visited {
        padding:10px 25px;
        height:20px;
        display:block;
    }
    /*
    .mainContent {
        line-height:20;
    }
    .content {
        width:100%;
        float:left;
        margin-top:2%;
    }
    .post-info {
        display:none;
    }
    
    .topcontent {
        margin-top: 2% 0 4% 0;
    }
    .top-sidebar {
        width:94%;
        margin: 2% 0 2% 0;
        padding: 2% 3%;
    }
    .mid-sidebar {
        width:94%;
        margin: 2% 0 2% 0;
        padding: 2% 3%;
    }
}*/

